.container {
  overflow-x: "hidden";
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  // min-height: 30rem;
  gap: 2.4rem;
}

.categories {
  padding: 1.2rem 3.2rem;
  border: dashed 1px grey;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.category {
  width: 18rem;
  padding: 1.2rem 3.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0.4rem;
  border: solid 1px grey;
  background-color: orange;
}

.input {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.2rem 3.2rem;
  width: 18rem;
  border: solid rgb(211, 211, 211) 1px;
  border-radius: 0.4rem;
}

.box {
  padding: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}
.connection {
  width: 1px;
  background: lightgray;
  transform: translateX(-4rem);
  transition: height 0.4s linear;
}

.connection_root {
  height: 2rem;
  width: 1px;
  background: lightgray;
  transform: translateX(-1.6rem);
}
