@import "themes.scss";

.services {
  gap: 1.2rem;
  font-size: 2rem;
}

.amount {
  background: #ffb840;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  color: white;
  border-radius: 20% / 50%;
}

.main {
  height: 12rem;
  padding: 2rem 0rem;
  max-width: 100vw;
  margin: 0rem 4rem;
  border-bottom: 1px solid lightgrey;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1rem;
  color: grey;
  background-color: white;
  border: none;
  text-transform: uppercase;
  &:hover {
    background: lightgray;
  }
}
.hover {
  width: 6.8rem;
  &:hover {
    background: lightgray;
  }
}

.primary {
  background: #6977e2;
  color: white;
  &:hover {
    background: #545fb5;
  }
}

.dropdown {
  cursor: pointer;
  text-align: center;
  position: fixed;
  z-index: 10;
  transform: translate(0rem, 0.4rem);
  gap: "0.4rem";
  transition: "max-height 1.4s ease-in";
}

.hide {
  display: none;
}

// SWITCH //

.switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 4rem;
  margin: 0 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid lightgrey;
  transition: 0.5s;
  border-radius: 4rem;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.9rem;
  width: 2.9rem;
  left: 0.3rem;
  bottom: 0.4rem;
  background: white;
  border: 1px solid grey;
  border-radius: 5rem;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: $btn-bg-primary;
}

input:checked + .slider:before {
  // Fix translate X for responsive design
  transform: translateX(3.2rem);
  background-color: white;
}

input + .slider:before {
  background-color: $btn-bg-primary;
}

////////////////////////////////////
